body {
  font-family: "Helvetica Neue";
  font-weight: 200;
}

.jumbotron {
  background-color: white;
}

.jumbotron p {
  font-size: 2em;
}

.greeting {
  padding-bottom: 0.5em;
  font-size: 2.5em;
}

.airplane-img {
  position: absolute;
  top: 9%;
  right: -200px;
}


@media (max-width: 600px) {
  .jumbotron p {
    font-size: 1.1em;
  }

  .greeting {
    font-size: 1.7em;
  }

  .navbar-brand.foreign {
    display: none;
  }
}
