body {
  font-family: "Helvetica Neue";
  font-weight: 200;
}

.jumbotron {
  background-color: white;
}

.jumbotron p {
  font-size: 2em;
}

.greeting {
  padding-bottom: 0.5em;
  font-size: 2.5em;
}

.airplane-img {
  width: 35%;
  position: absolute;
  top: 9%;
  right: -40%;
}

.a380-airplane-img {
  width: 40%;
  height: 40%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 30%;
  bottom: -40%;
}

.jet-img {
  max-width: 100%;
  max-height: 100%;
}

.nile {
  height: 60%;
  width: 60%;
}


@media (max-width: 600px) {
  .jumbotron p {
    font-size: 1.1em;
  }

  .greeting {
    font-size: 1.7em;
  }

  .navbar-brand.foreign {
    display: none;
  }
}
